* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.testimonial {
    max-width: 920px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: 1.1fr;
    grid-template-areas: 
    'daniel daniel jonathan kira'
    'jeanette patrick patrick kira';
    grid-gap: 15px;
}

.daniel_div {
    grid-area: daniel;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    background-image: url('/images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 70px;
    padding-right: 20px;
}

.card_div {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 10px 10px 19px 0px rgba(173, 173, 173, 0.46);
    align-content: center;
}

img {
    border-radius: 50px;
    border: 2px solid hsl(263, 55%, 52%);
    height: 40px;
    width: 40px;
}

.kira_div {
    grid-area: kira;
    background-color: hsl(0, 0%, 100%);
}

.patrick_div {
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.jonathan_div {
    grid-area: jonathan;
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.jeanette_div {
    grid-area: jeanette;
    background-color: hsl(0, 0%, 100%);
}

.heading {
    display: flex;
    padding-bottom: 10px;
}

.heading div {
    padding-left: 10px;
    padding-top: 5px;
}

.card_quote {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
}

.card_paragraph {
    font-size: 13px;
    opacity: 50%;
    line-height: 1.5;
    font-weight: 500;
}

.card_name {
    font-size: 13px;
}

.Verified {
    opacity: 50%;
    font-size: 12px;
    font-weight: 300;
}

.attribution {
    margin-top: 20px;
    margin-bottom: 0px;
}

@media (max-width:950px) {
    .testimonial {
        display: grid;
        
        grid-template-areas:
            'daniel'
            'jonathan'
            'jeanette'
            'patrick'
            'kira';
            padding: 0 20px;
    }

    .daniel_div {
        grid-area: daniel;
    }

    .jonathan_div {
        grid-area: jonathan;
    }

    .jeanette_div {
        grid-area: jeanette;
    }

    .patrick_div {
        grid-area: patrick;
    }

    .kira_div {
        grid-area: kira;
    }
}